
html {
    background-color: blue;
}

body {
    background-image: url("Pukeko_chicks.JPG");
    background-color: blueviolet;
}


p {
    background-color: steelblue;
    color: lightslategray;
    margin: 1em;
    padding: 1em;
}