
html {
    background-color: blue;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(Pukeko_chicks.JPG);
    background-repeat: no-repeat;
    background-color: blueviolet;
    min-height: 1000px;
    padding: 1em;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}


p {
    background-color: steelblue;
    color: lightslategray;
    margin: 1em;
    padding: 1em;
}



content {
    background-color: lightblue;
    opacity: 0.6;
}