<header class="header-full">
    <h1><a href="/index.html">Daniel Paxton</a></h1>
    <nav>
        <ul id="links">
            <li><a href="https://www.linkedin.com/in/daniel-paxton-837640308/?trk=opento_sprofile_goalscard" class="social-link"><img src="/images/LinkedIN_black.png" alt="linkedin"></a></li>
            <li><a href="https://www.facebook.com/daniel.paxton.583/" class="social-link"><img src="/images/Facebook_black.png" alt="Facebook"></a></li>
            <li><a href="https://github.com/Manwithacape" class="social-link"><img src="/images/Github_black.png" alt="Github"></a></li>
            <li><a href="Mailto:paxtondtwo@gmail.com" class="social-link"><img src="/images/Gmail_black.png" alt="Email Me"></a></li>
        </ul>
    </nav>
</header>
